:root {
  --cor-primaria: darkblue;
  --cor-texto-claro: #ffffff;
  --cor-borda: #000000;
  --cor-fundo-aside: #646262;
  --borda-padrao: 1px solid var(--cor-borda);
  --largura-imagem-padrao: 150px;
  --espacamento-padrao: 1rem;
}


nav {
    background-color: var(--cor-primaria);
    padding: 10px;
}

nav a {
    color: var(--cor-texto-claro);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--cor-primaria);
}

img {
    width: var(--largura-imagem-padrao);
    height: auto;
    border: var(--borda-padrao);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img{
    width: var(--largura-imagem-padrao);
    height: auto;
    border:  var(--borda-padrao);
    padding: 2px;
    box-shadow: 0px 2px 15px #333333;
}

aside {
    width: 20rem;
    margin: var(--espacamento-padrao);
    border: var(--borda-padrao);
    padding:  var(--espacamento-padrao);
    background-color: var(--cor-fundo-aside);
    color: var(--cor-texto-claro);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: var(--borda-padrao);
    text-align: center;
}